body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
form {
    margin-top: 30px;
}
label {
    display: inline-block;
    width: 130px;
    margin-top: 10px;
}
input, select {
    margin: 5px;
    padding: 5px;
}
.inline-label {
    width: auto;
}
.buttons {
    margin-top: 20px;
}