
*/{
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    height: 500px;
    margin: 40px auto;
    border: 2px solid black;
    padding: 20px;
}
.item{
    float: left;
}
.item1{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 50px;
}
.item2{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 110);
}
.item3{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 43);
}
.paragraph{
    background-color: brown;
    position: fixed;
    top: 30px;
    left: 20px;
}
nav{
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black;
    display: flex;

}
.nav-logo{
    width: 20%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo p{
    color: blue;
    font-size: 25px;
}
.nav-logo p span{
    color: chocolate;
}
ul{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
ul li:hover{

}
.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
}
.nav-button button:hover{
    background-color: green;
    cursor: pointer;
}
.move{
    width: 300px;
    height: 100px;
    background-color: brown;
    transition-property:transform;
    transition-duration 1s; 
    transition-timing-function: ease-in;
    transition-delay: 3s;
}
.move:hover{
    transform:translate(400px)
}